<h4 class="text-center">Login</h4>

<form action="submit" (ngSubmit)="login()" class="form mt-4" #loginForm="ngForm">
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input
        #campoUsuario="ngModel"
        [(ngModel)]="usuario"
        name="usuario"
        type="usuario"
        class="form-control"
        id="usuario"
        placeholder="Nome do usuário"
        required>
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        [mensagem]="'Usuário obrigatório'">
      </app-mensagem>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        #campoSenha="ngModel"
        [(ngModel)]="senha"
        name="senha"
        type="password"
        class="form-control"
        id="senha"
        placeholder="Insira sua senha"
        required="">
      <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        [mensagem]="'Senha obrigatória'">
      </app-mensagem>
    </div>

    <button
      [disabled]="loginForm.invalid"
      type="submit"
      class="btn btn-primary btn-block">
      Login
    </button>
</form>

<p>Não possui conta? <a [routerLink]="['novo-usuario']">Cadastre-se</a>!</p>
